.button {
    display: block;
    width: 100px;
    line-height: 50px;
    background-color: deeppink;
    border-radius: 6px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.5);
    text-align: center;
    color: white;
}